// Define variables for your color scheme

// For example:
$blue: #2F80ED;
$green: #27AE9E;
$yellow: #EFCD67;
$red: #F33939;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;

$primary: #092C4C;
$primary-light1: #0F477B;
$primary-light2: #1462A9;
$primary-light3: #3B95E8;
$primary-dark1: #041220;

$secondary: #FF4B75;
$secondary-light1: #FF809D;
$secondary-light2: #FFB3C4;
$secondary-dark1: #FF1A4F;
$secondary-dark2: #E50036;

$light1: #F1F8FD;
$light2: #E4EFFA;
$light3: #CEDFEE;
$light4: #B5C0C9;
$light5: #98A7B4;


$black1: #000000;
$black2: #030D17;
$black3: #041524;

$gray1: #1C1C1C;
$gray2: #4F4F4F;
$gray3: #828282;
$gray4: #B5B5B5;
$gray5: #E8E8E8;

$gray-light1: #FCFCFC;
$gray-light2: #FAFAFA;
$gray-light3: #F2F9FF;
