// Import Google fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Gotham";
  src: font-url('./Gotham/Gotham-Bold.eot');
  src: font-url('./Gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
       font-url('./Gotham/Gotham-Bold.woff') format('woff'),
       font-url('./Gotham/HomepageBaukasten-Bold.ttf') format('truetype')
}
$my-font: "Inter";

$space: 8;
