.blocks{
  &:not(.inline){
    display: grid;
  }
  &.inline{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .list{
    counter-reset: thislist;
    &.numbered{
      content: counter(thislist) ".";
      & > *{
        display: flex;
        &::before{
          counter-increment: thislist;
          content: counter(thislist) ".";
          display: flex;
          justify-content: center;
          align-items: start;
          width: 1em;
          margin-left: 0em;
          margin-right: 0.5rem;
        }
      }
    }
    &.bullet .list-item{
      display: flex;
       &::before{
        content: "•";
        display: flex;
        justify-content: center;
        align-items: start;
        width: 1em;
        margin-left: 0em;
        margin-right: 0.5rem;
      }
    }
  }
}

.blocks.wrapper{
  grid-gap: 32px;
  &:after{
    content: '';
  }
  .outline{
    grid-gap: 16px;
    &:not(:last-child):after{
      content: '';
      height: 2px;
      background: $light3;
      margin-top: 18px
    }
  }
  .blocks{
    grid-gap: 14px
  }
  .block.d-flex{
    align-items: center;
  }
  input{
    border: none;
    background: transparent;
  }
  input[type="number"]{
    width: 75px;
    text-align: center;
  }
  input[type="number"], input[type="text"]{
    border-bottom: 1px solid $primary;
  }
  .form-field{
    padding: 4px 16px;
    justify-self: end;
    background: white;
    box-shadow: $shadow-soft-primary;
    &.range{
      grid-gap: unset;
      .range-info{
        display: grid;
        grid-template-columns: 40px auto;
        span{
          text-align: end;
        }
      }
    }
    &.text{
      width: 50%;
    }
  }
}


input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type="radio"], input[type="checkbox"]{
  appearance: none;
  width: 22px; height: 22px;
}

input[type="radio"]{
  border-radius: 50%;
  transition: box-shadow .3s, background .3s;
  background: white;
}

input[type="checkbox"]{
  border-radius: 2px;
  transition: box-shadow .3s, background .3s;
  background: white;
}

input[type="date" i]::-webkit-calendar-picker-indicator{
  margin-left: 0
}
.block{
  input[type="radio"], input[type="checkbox"]{
    &:checked{
      box-shadow: inset 0px 0px 0px 4px $secondary-light1;
    }
    &:not(:checked){
      background: $gray5;
    }
    &:disabled{
      opacity: 0.4;
    }
  }
  input[type="checkbox"]{
    &:checked{
      box-shadow: inset 0px 0px 0px 7px $secondary-light1;
    }
  }
  &:hover{
    input[type="radio"], input[type="checkbox"]{
      &:not(:checked){
        background: $gray4;
      }
      &:checked{
        box-shadow: inset 0px 0px 0px 4px $secondary;
      }
    }
    input[type="checkbox"]{
      &:checked{
        box-shadow: inset 0px 0px 0px 7px $secondary;
      }
    }
  }
  &:focus{
    input[type="radio"], input[type="checkbox"]{
      &:not(:checked){
        box-shadow: inset 0px 0px 0px 4px $gray1;
      }
      &:checked{
        box-shadow: inset 0px 0px 0px 7px $secondary-light1;
      }
    }
  }
}



.blocks{
  // input[type=range] {
  //   -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  //   width: 180px; /* Specific width is required for Firefox. */
  //   height: 3px;
  //   background: $secondary-light1; /* Otherwise white in Chrome */
  // }

  // input[type=range]::-webkit-slider-thumb {
  //   -webkit-appearance: none;
  // }

  // input[type=range]:focus {
  //   outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  // }

  // input[type=range]::-ms-track {
  //   width: 100%;
  //   cursor: pointer;

  //   /* Hides the slider so custom styles can be added */
  //   background: transparent;
  //   border-color: transparent;
  //   color: transparent;
  // }

  // /* Special styling for WebKit/Blink */
  // input[type=range]::-webkit-slider-thumb {
  //   -webkit-appearance: none;
  //   height: 22px;
  //   width: 22px;
  //   border-radius: 50%;
  //   box-shadow: inset 0px 0px 0px 4px $secondary-light1;
  //   background: white;
  //   cursor: pointer;
  //   // margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  //   // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  // }

//   /* All the same stuff for Firefox */
//   input[type=range]::-moz-range-thumb {
//     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//     border: 1px solid #000000;
//     height: 36px;
//     width: 16px;
//     border-radius: 3px;
//     background: #ffffff;
//     cursor: pointer;
//   }

//   /* All the same stuff for IE */
//   input[type=range]::-ms-thumb {
//     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//     border: 1px solid #000000;
//     height: 36px;
//     width: 16px;
//     border-radius: 3px;
//     background: #ffffff;
//     cursor: pointer;
//   }

  // input[type=range]::-webkit-slider-runnable-track {
  //   width: 100%;
  //   height: 8.4px;
  //   cursor: pointer;
  //   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  //   background: #3071a9;
  //   border-radius: 1.3px;
  //   border: 0.2px solid #010101;
  // }

  // input[type=range]:focus::-webkit-slider-runnable-track {
  //   background: #367ebd;
  // }

  // input[type=range]::-moz-range-track {
  //   width: 100%;
  //   height: 8.4px;
  //   cursor: pointer;
  //   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  //   background: #3071a9;
  //   border-radius: 1.3px;
  //   border: 0.2px solid #010101;
  // }

  // input[type=range]::-ms-track {
  //   width: 100%;
  //   height: 8.4px;
  //   cursor: pointer;
  //   background: transparent;
  //   border-color: transparent;
  //   border-width: 16px 0;
  //   color: transparent;
  // }
  // input[type=range]::-ms-fill-lower {
  //   background: #2a6495;
  //   border: 0.2px solid #010101;
  //   border-radius: 2.6px;
  //   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  // }
  // input[type=range]:focus::-ms-fill-lower {
  //   background: #3071a9;
  // }
  // input[type=range]::-ms-fill-upper {
  //   background: #3071a9;
  //   border: 0.2px solid #010101;
  //   border-radius: 2.6px;
  //   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  // }
  // input[type=range]:focus::-ms-fill-upper {
  //   background: #367ebd;
  // }
}

// input[type="radio"] {
//   border-radius: 50%;
//   transition: box-shadow .3s, background .3s;
//   background: white;
//   &:checked{
//     box-shadow: inset 0px 0px 0px 4px $secondary-light1;
//     border-radius: 50%;
//     &:hover{
//       box-shadow: inset 0px 0px 0px 4px $secondary;
//     }
//     &:focus{
//       box-shadow: inset 0px 0px 0px 7px $secondary-light1;
//     }
//   }
//   &:not(:checked){
//     background: $gray5;
//     // &:hover{
//     //   background: $gray-light2;
//     // }
//     &:focus{
//       box-shadow: inset 0px 0px 0px 4px $gray-light1;
//     }
//   }
//   &:disabled{
//     opacity: 0.4;
//   }
// }
