<% if resource.errors.any? %>
  <div class="error">
    <% resource.errors.full_messages.each do |message| %>
      <div class="d-inline">
        <i class="fas fa-exclamation"></i>
        <span class="small"><%= message %></span>
      </div>
    <% end %>
  </div>
<% end %>
