<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
  .button-style.secondary{
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    width: fit-content;
    justify-content: center;
    background: #FF4B75;
    color: white;
    text-decoration: none;
  }
  .mail-wrapper{
    margin: 0 100px;
    font-family: "Inter";
  }
  .header{
    display: grid;
    justify-items: center;
  }
  .header img{
    width: 320px;
  }
  .content{
    text-align: center;
    display: grid;
    grid-gap: 8px;
    font-size: 18px;
    color: #4F4F4F;
  }
  .content a{
    justify-self: center;
    font-size: 16px;
    margin: 20px 0;
  }
  .bold{
    font-weight: bold;
  }
  .ps{
    font-size: 12px;
    display: grid;
  }
</style>

<div class="mail-wrapper">
  <div class="header">
    <%= image_tag attachments['logo.svg'].try(:url) %>
    <h2>Password reset</h2>
  </div>
  <div class="content">
    <span class="bold">Hey <%= @resource.first_name %></span>
    <span>You can confirm your account email through the link below:</span>

    <%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @resource.confirmation_token), class: 'button-style secondary' %>

    <span>Best,</span>
    <span>Your CallGuru Team</span>
    <div class="ps">
      <span>
        PS: If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.
      </span>
    </div>
  </div>

</div>
