.app-wrapper{
  display: grid;
  grid-template-rows: 100px auto;
  grid-gap: $space * 4px;
  height: 100vh;
  padding-bottom: $space * 4px;
  position: relative;
  .page-content-wrapper{
    padding: 0 0 0 ($space * 5px);
  }
  .app-container{
    display: grid;
    grid-template-columns: auto 1px 30%;
    grid-gap: $space * 4px;
  }
  .page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px 0 ($space * 5px);
    box-shadow: inset 0px -1px 2px rgba(9, 44, 76, 0.1);
    background: white;
    position: relative;
    .tabs{
      display: grid;
      grid-auto-flow: column;
      grid-gap: $space * 3px;

      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      height: 100px;
      a{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
        border-bottom: 3px solid transparent;
        span{
          transform: translateY(3px)
        }
      }
      a:hover{
        text-decoration: none;
      }
      .tab:hover{
        border-color: $secondary-light2;
      }
      .tab.active{
        border-color: $secondary;
      }
    }
    .actions{
      display: grid;
      grid-auto-flow: column;
      grid-gap: $space + px;
    }
  }
  .app-wrapper{
    padding: 0 32px 0 64px;
  }
  // .page-content-wrapper > * {
  //    padding: ($space * 8px);
  // }
  .page-content-wrapper{
    display: grid;
    grid-gap: 32px;
    overflow: hidden;
    position: relative;
    .bottom-right-corner{
      position: absolute;
      right: 32px; bottom: 0;
      width: 50px; height: 50px;
      padding: 0 !important;
    }
    &.columns-2{
      padding: 0 40px;
      &.fr-a{
        grid-template-columns: 1fr auto;
      }
      &.a-fr{
        grid-template-columns: auto 1fr;
      }
      &._65_a{
        grid-template-columns: 65% auto;
      }
    }
    &.row-2{
      &.fr-a{
        grid-auto-rows: 1fr auto;
      }
      &.a-fr{
        grid-auto-rows: auto 1fr;
      }
    }
    &.row-3{
      grid-auto-rows: auto 1fr auto;
    }
    // &:not(.columns-2._70_30) > *:not(.card) {
    //   padding: 0 ($space * 5px);
    // }
    &.medium{
      width: 75%;
    }
    .page-content-container{
      overflow: scroll;
      // display: grid;
      // grid-auto-rows: auto 1fr;
      // grid-gap: $space * 5px;
      &::after{
        content: '';
        display: block;
        height: 20px;
      }
      .wrapped-list{
        display: grid;
        grid-gap: $space * 2.5px;
      }
      .list{
        // display: grid;
        // grid-gap: $space * 3px;
        .content-item{
          display: grid;
          grid-gap: $space * 2px;
        }
      }
          // Smallest device
      @media (min-width: 100px) and (max-width: 575px) {
        .wrapped-list {
          grid-template-columns: 1fr;
        }
      }

      // Small devices (landscape phones, 576px and up)
      @media (min-width: 576px) {
        .wrapped-list {
          grid-template-columns: 1fr;
        }
      }

      // Medium devices (tablets, 768px and up)
      @media (min-width: 768px) {
        .wrapped-list {
          grid-template-columns: 1fr 1fr;
        }
      }

      // Large devices (desktops, 992px and up)
      @media (min-width: 992px) {
        .wrapped-list {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }

      // Extra large devices (large desktops, 1200px and up)
      @media (min-width: 1200px) {
        .wrapped-list {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
      // Extra large devices (large desktops, 1200px and up)
      @media (min-width: 1441px) {
        .wrapped-list {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }
      // Extra Extra large devices (large desktops, 1200px and up)
      @media (min-width: 2100px) {
        .wrapped-list {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }
      }
    }
    .page-content-actions-wrapper{
      display: grid;
      grid-gap: $space * 3px;
      .page-content-actions-container{
        width: fit-content;
        display: grid;
        grid-gap: $space * 2px;
        grid-auto-flow: column;
      }
    }
  }
}
