.block{
  .tukdd6b{
    position: absolute;
    left: 50%;
    transform: translate(-50%) scale(0);
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 1px 3px 0px rgba(220, 220, 220, 1);
    z-index: 2;
    box-sizing: border-box;
    .innerToolbar{
      display: grid;
      grid-auto-flow: column;
      .bpsgbes{
        button{
          box-shadow: inset 0px 0px 0px 2px $secondary-light2;
          background-color: unset;
          transition: background-color .3s;
        }
        &:hover button{
          background-color: $secondary-light2;
        }
      }
    }
  }
  &.paragraph, &.numbered, &.bullet, &.toggle, &.text, &.number, &.date, &.range, &.select, &.multiselect{
    .public-DraftEditorPlaceholder-root, .public-DraftStyleDefault-block.public-DraftStyleDefault-ltr{ //text + Placeholder
      font-size: 16px;
    }
  }
  &.subheader{
    .public-DraftEditorPlaceholder-root, .public-DraftStyleDefault-block.public-DraftStyleDefault-ltr{ //text + Placeholder
      font-size: 18px;
      font-weight: bold;
    }
  }

  &.block-header{
    .public-DraftEditorPlaceholder-root, .public-DraftStyleDefault-block.public-DraftStyleDefault-ltr{ //text + Placeholder
      font-size: 20px;
      font-weight: bold;
    }
  }
}

.block-header{
  &:not(:first-child):before{
    display: block;
    content: "";
    height: 2px;
    background: #CEDFEE;
    margin: 20px 0;
  }
}

.blocks{
  counter-reset: items;
  counter-reset: header;
  &.bullet, &.numbered, &.multiselect{
    .block{
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 8px;
    }
  }
  &.bullet > .block{
    &:before{
      content:"• ";
    }
  }
  &.numbered > .block{
    &:before{
      counter-increment: items;
      content: counter(items)". ";
    }
  }
  &.multiselect .block{
    align-items: center;
    &:before{
      content: "";
      display: flex;
      justify-content: center;
      align-items: center;
      width: 22px; height: 22px;
      background: $gray5;
      border-radius: 2px;
    }
    &.checked:before{
      content: "✔";
      display: flex;
      justify-content: center;
      align-items: center;
      width: 22px; height: 22px;
      background: $secondary;
      border-radius: 2px
    }
  }
}


span[contenteditable].block-input{
  border: none;
  font-size: 18px
}
.blocks{
  display: grid;
  grid-gap: 4px;
  span[contenteditable].block-input.outline{
    font-size: 21px;
  }
  &.bullet .block-wrapper.paragraph{
    display: flex;
    input.block-input{
      width: 100%;
    }
    &::before{
      content: "•";
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1em;
      margin-left: -1em
    }
  }
  &.numbered {
    // counter-reset: list;
    .block-wrapper.paragraph{
      display: flex;
      input.block-input{
        width: 100%;
      }
      &::before{
        counter-increment: list;
        content: counter(list) ".";
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1em;
        margin-left: -1em
      }
    }
  }
}

// .app-wrapper .page-content-wrapper .page-content-container .list.numbered{
//   counter-reset: thislist;
//   & > *{
//     display: flex;
//     &::before{
//       counter-increment: thislist;
//       content: counter(thislist) ".";
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       width: 1em;
//       margin-left: -1em
//     }
//   }
// }
