.block{
  &.paragraph, &.numbered, &.bullet, &.toggle, &.text, &.number, &.date, &.range, &.select, &.multiselect{
    .public-DraftEditorPlaceholder-root, .public-DraftStyleDefault-block.public-DraftStyleDefault-ltr{ //text + Placeholder
      font-size: 16px;
    }
  }
  &.subheader{
    .public-DraftEditorPlaceholder-root, .public-DraftStyleDefault-block.public-DraftStyleDefault-ltr{ //text + Placeholder
      font-size: 18px;
      font-weight: bold;
    }
  }

  &.header{
    .public-DraftEditorPlaceholder-root, .public-DraftStyleDefault-block.public-DraftStyleDefault-ltr{ //text + Placeholder
      font-size: 20px;
      font-weight: bold;
    }
  }



}
.blocks{
  counter-reset: items;
  &.bullet, &.numbered, &.multiselect{
    .block{
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 8px;
    }
  }
  &.bullet > .block{
    &:before{
      content:"• ";
    }
  }
  &.numbered > .block{
    &:before{
      counter-increment: items;
      content: counter(items)". ";
    }
  }
  &.multiselect .block{
    align-items: center;
    &:before{
      content: "";
      display: flex;
      justify-content: center;
      align-items: center;
      width: 22px; height: 22px;
      background: $gray5;
      border-radius: 2px;
    }
    &.checked:before{
      content: "✔";
      display: flex;
      justify-content: center;
      align-items: center;
      width: 22px; height: 22px;
      background: $secondary;
      border-radius: 2px
    }
  }
}


span[contenteditable].block-input{
  border: none;
  font-size: 18px
}
.blocks{
  display: grid;
  grid-gap: 4px;
  span[contenteditable].block-input.outline{
    font-size: 21px;
  }
  &.bullet .block-wrapper.paragraph{
    display: flex;
    input.block-input{
      width: 100%;
    }
    &::before{
      content: "•";
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1em;
      margin-left: -1em
    }
  }
  &.numbered {
    // counter-reset: list;
    .block-wrapper.paragraph{
      display: flex;
      input.block-input{
        width: 100%;
      }
      &::before{
        counter-increment: list;
        content: counter(list) ".";
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1em;
        margin-left: -1em
      }
    }
  }
}

// .app-wrapper .page-content-wrapper .page-content-container .list.numbered{
//   counter-reset: thislist;
//   & > *{
//     display: flex;
//     &::before{
//       counter-increment: thislist;
//       content: counter(thislist) ".";
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       width: 1em;
//       margin-left: -1em
//     }
//   }
// }
