button, input[type=submit]{
  border: none;
  padding: ($space * 1.5px) ($space * 3px);
  border-radius: $space + px;
  width: fit-content;
  justify-content: center;
  &.stretch{
    width: 100%;
    justify-content: center;
  }
  &.small-btn{
    padding: ($space + px) ($space * 2px)
  }
}

button.primary, input[type=submit].primary, .button-style.primary{
  &:not(.outline){
    background: $primary;
    color: white;
    transition: color .3s, width .3s, border .3s, background .3s;
    &:hover{
      background: $primary-dark1;
    }
    &:focus{
      box-shadow: inset $primary-light2 0 0 10px;
    }
    &:active{
      background: $primary-light1;
    }
    &:disabled{
      background: $primary-light2;
    }
  }
  &.outline{
    // background: transparent;
    box-shadow: inset 0px 0px 0px 2px $primary;
    color: $primary;
    transition: color .3s, width .3s, border .3s, background .3s;
    &:hover{
      box-shadow: inset 0px 0px 0px 2px $primary-dark1;
    }
    &:focus{
      box-shadow: inset 0px 0px 0px 2px $primary-light1;
    }
    &:disabled{
      opacity: 0.4;
    }
  }
}

button.secondary, input[type=submit].secondary, .button-style.secondary{
  &:not(.outline){
    background: $secondary;
    color: white;
    transition: color .3s, width .3s, box-shadow .3s, background .3s;
    &:hover{
      background: $secondary-dark1;
    }
    &:focus{
      box-shadow: inset #ffe5eb 0 0 10px;
    }
    &:active{
      background: $secondary-light1;
    }
    &:disabled{
      background: $secondary-light2;
    }
  }
  &.outline{
    // background: transparent;
    box-shadow: inset 0px 0px 0px 2px $secondary;
    color: $secondary;
    transition: color .3s, width .3s, border .3s, background .3s;
    background: white;
    &:hover{
      box-shadow: inset 0px 0px 0px 2px $secondary-dark1;
      color: $secondary-dark1;
    }
    &:focus{
      box-shadow: inset 0px 0px 0px 2px $secondary-light1;
    }
    &:disabled{
      opacity: 0.4;
    }
  }
}

label{
  padding: 7px 16px;
  border-radius: 50px;
  width: fit-content; height: fit-content;
  margin: unset;
  &.primary{
    background: $primary;
  }
  &.primary-light2{
    background: rgba(59, 149, 232, 0.2);
  }
  &.secondary{
    background: $secondary;
    color: $secondary;
  }
  &.secondary-light2{
    background: $secondary-light2;
    color: $secondary;
  }
  i{
    margin-right: $space * 0.5px;
  }
}
