button, input[type=submit]{
  border: none;
  padding: ($space * 1.5px) ($space * 3px);
  border-radius: $space + px;
  width: fit-content;
  justify-content: center;
  &.stretch{
    width: 100%;
  }
  &.small-btn{
    padding: ($space + px) ($space * 2px)
  }
}

button.primary, input[type=submit].primary{
  &:not(.outline){
    background: $primary;
    color: white;
  }
  &.outline{
    // background: transparent;
    box-shadow: inset 0px 0px 0px 2px $primary;
    color: $primary;
  }
}

button.secondary, input[type=submit].secondary{
  &:not(.outline){
    background: $secondary;
    color: white;
  }
  &.outline{
    // background: transparent;
    box-shadow: inset 0px 0px 0px 2px $secondary;
    color: $secondary;
  }
}
