.card{
  box-shadow: $shadow-soft-primary;
  padding: $space * 3px;
  border: none;
  &.bg-secondary{
    box-shadow: $shadow-soft-secondary;
  }
  transition: box-shadow .5s;
  border-radius: $border-radius-xl;
  &.bg-secondary:hover{
    box-shadow: $shadow-hard-secondary;
  }
  &:not(.no-hover):hover{
    box-shadow: $shadow-hard-primary;
  }
  .title.stretch{
    display: flex;
    justify-content: space-between;
  }
}
