.move-placeholder-wrapper{
  position: relative;
  height: 49px;
  border-radius: $space * 0.5px;
  border: 1px solid $gray4;
  background: white;
  width: 100%;
  display: flex;
  align-items: center;
  &.disabled{
    background: $gray-light2;
    .move-placeholder-input{
      color: $gray2;
      .move-placeholder-placeholder{
        color: $gray2;
      }
    }
  }
  &.textarea{
    height: fit-content;
    textarea.move-placeholder-input{
      text-indent: unset;
      padding: 4px 0.75rem;
    }
  }
  &.error{
    border-color: red;
  }
}
.move-placeholder-input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0;
  font-weight: 700;
  text-indent: 0.75rem;
  color: $primary;
  // box-shadow: none;
  &:focus + .move-placeholder-placeholder{
    color: black;
    transform: translate(2px, -150%) scale(0.8);
    padding: 0 7px;
  }
  &:-webkit-autofill, :-webkit-autofill:hover, :-webkit-autofill:focus{
    border: 0 !important;
    box-shadow: none !important;
  }
}

.move-placeholder-input:not(:focus):placeholder-shown + .move-placeholder-placeholder{
  transform: translate(0, -50%);
}

.move-placeholder-placeholder{
  transform: translate(2px, -150%) scale(0.8);
  // transform: translate(0.625rem, -10px) scale(0.8);
  color: gray;
  position: absolute;
  z-index: 1;
  top: 50%;
  font-weight: 700;
  transform-origin: 0% 0%;
  background: white;
  pointer-events: none;
  transition: 0.5s, background 0.3s;
  padding: 0 12px;
  font-size: 14px;
}


.input-with-footer{
  display: grid;
  .footer.right{
    display: flex;
    justify-content: flex-end;
    .small{
      color: $gray4;
      transition: color .3s;
      &:hover{
        color: $gray2;
      }
    }
  }
}

.search-form-control{
  display: grid;
  grid-template-columns: 1fr auto;
  background: white;
  border: 1px solid $gray5;
  border-radius: 8px;
  input{
    border: none;
    border-radius: 8px 0 0 8px;
    &:focus{
      box-shadow: inherit;
    }
  }
  button{
    background: $gray5;
    border-radius: 0 7px 7px 0;
    i{
      color: $gray3;
    }
  }
}


form{
  input:focus{
    outline: none
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid $primary;
  -webkit-text-fill-color: $primary;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
  outline: unset;
  font-size: 16px !important;
  &::first-line {
    font-size: 16px !important;
    // color: green;
  }
}

textarea:focus-visible,
input:focus-visible,
select:focus-visible{
  outline: unset;
}
