// Import your components CSS files here.
@import "alert";
@import "block";
@import "avatar";
@import "button";
@import "navbar";
@import "login";
@import "card";
@import "form";
@import "app_page_setup";
@import "playbook_card";
@import "company_card";
@import "user_card";
@import "battle_card";
@import "filter_search";
@import "in_call_components";
@import "in_call";
@import "edit_block";
@import "sidebar";
@import "create_modal";
@import "custom_draft_js_editor";
// @import "range";


body{
  h1, h2, h3, h4, h5, h6, p, span, button{
    font-family: $my-font;
    margin: 0;
    color: $primary;
    &.bold {
      font-weight: bold;
    }
  }
  h1{
    font-size: 56px;
    line-height: 56px;
  }

  h2{
    font-size: 48px;
    line-height: 48px;
  }

  h3{
    font-size: 40px;
    line-height: 40px;
  }

  h4{
    font-size: 32px;
    line-height: 32px;
  }

  h5{
    font-size: 24px;
    line-height: 24px;
  }

  h6{
    font-size: 20px;
    line-height: 20px;
  }

  p.extra-small, span.extra-small, button.extra-small, label.extra-small {
    font-size: 14px;
    line-height: 18px;
  }

  p.small, span.small, button.small, label.small {
    font-size: 16px;
    line-height: 20px;
  }

  p.medium, span.medium, button.medium, label.medium {
    font-size: 18px;
    line-height: 22px;
  }

  p, p.normal, span.normal, button.normal, label.normal {
    font-size: 16px;
    line-height: 16px;
  }

  p.large, span.large, button.large, label.large {
    font-size: 20px;
    line-height: 24px;
  }

  p.extra-large, span.extra-large, button.extra-large, label.extra-large {
    font-size: 24px;
    line-height: 28px;
  }
}

.action{
  cursor: pointer;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.stretch{
  display: flex;
  justify-content: space-between;
}

.bg-secondary{
  h1, h2, h3, h4, h5, h6, p, span{
    color: white;
  }
}

.seperater{
  height: 1px;
  background: $gray4;
}

.seperater-horizontal{
  width: 1px;
  background: $gray4;
}

.pointer{
  cursor: pointer;
}

.light1{
  color: $light1;
}

.light2{
  color: $light2;
}

.light3{
  color: $light3;
}

.light4{
  color: $light4;
}

.light5{
  color: $light5;
}
